<%= form_with model: [:admin, @badge], local: true do |form| %>
  <%= render 'shared/errors', resource: @badge %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :image_name %><br>
    <%= form.text_field :image_name %>
  </p>

  <p>
    <%= form.label :rule %><br>
    <%= form.select :rule, Badge::RULES, prompt: true %>
  </p>

  <div id="category_value" class="hide">
    <p>
      <%= form.label :category_id %>
      <%= form.collection_select :category_id, Category.all, :id, :title %>
    </p>
  </div>

  <div id="level_value" class="hide">
    <p>
      <%= form.label :level %>
      <%= form.select :level, Test::LEVELS %>
    </p>
  </div>

  <p><%= form.submit %></p>
<% end %>

<%= link_to 'Back', admin_badges_path %>
