<tr>
  <td><%= test.category.title %></td>
  <td><%= test.title %></td>
  <td><%= difficulty(test.level) %></td>
  <td align="center"><%= test.questions.count %></td>
  <td><%= button_to 'Start', start_test_path(test) %></td>
</tr>
