<h1>All Tests</h1>

<table id="user_tests">
  <tr>
    <th id="category">
      Category
      <%= octicon 'arrow-up', class: 'hide' %>
      <%= octicon 'arrow-down', class: 'hide' %>
    </th>
    <th id="title">
      Title
      <%= octicon 'arrow-up', class: 'hide' %>
      <%= octicon 'arrow-down', class: 'hide' %>
    </th>
    <th>Level</th>
    <th>Questions</th>
    <th>Actions</th>
  </tr>

  <%= render @tests %>
</table>
