<h1>Passing the <%= @viewed_test.test.title %> Test</h1>

<%= content_tag :div, id: 'test_timer', class: 'timer', data: { remaining_time: @viewed_test.remaining_time } do %>
<% end %>

<div class="progress">
  <%= content_tag :div, id: 'test_progress_bar', class: 'progress-bar', data: { progress: @viewed_test.progress_percent } do %>
    <%= @viewed_test.progress_percent %>%
  <% end %>
</div>

<p>
  <b><%= "#{@viewed_test.current_question_number} of #{@viewed_test.test.questions.count}" %></b>
</p>

<p>
  <b><%= @viewed_test.current_question.text %></b>
</p>

<%= form_with url: viewed_test_path(@viewed_test), local: true, method: :put, id: 'test_form' do |form| %>
  <%= form.collection_check_boxes :answer_ids, @viewed_test.current_question.answers, :id,
  :text, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <p><%= link_to 'Gist Question', gists_path(viewed_test_id: @viewed_test.id), method: :post %></p>
  <p><%= form.submit 'Next' %></p>
<% end %>
