<h1>Passing the <%= @viewed_test.test.title %> Test</h1>

<p>
  <b>
    <%= "#{current_question_number(@viewed_test)} of #{@viewed_test.test.questions.count}" %>
  </b>
</p>

<b>
  <%= @viewed_test.current_question.text %>
</b>

<%= form_with url: viewed_test_path(@viewed_test), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @viewed_test.current_question.answers, :id,
  :text, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <p><%= form.submit 'Next' %></p>
<% end %>
